<p>
  example-routing works!
</p>
<div class="row">
  <div class="col-md-12">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/example1">Example 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example2">Example 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example3">Example 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example-pipe">Example Pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example-service">Example Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example-lodash">Example Lodash</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example-templ-variable">Template Variables</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/example-lifecycle">Lifecycle Hook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Module user</a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button (click)="redirectToUrl()" type="button" class="btn btn-primary">Click redirect page</button>
    <button (click)="redirectToUrl2()" type="button" class="btn btn-secondary">Redirect Secondary</button>
  </div>
</div>
